* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Mulish", sans-serif;
}

ol, ul {
      list-style: none;
}

a {
      text-decoration: none;
}

header {
      padding: 40px 0;
}

.container {
      width: 1200px;
      margin: 0 auto;
}

.navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.logo {
      display: flex;
      align-items: center;
}


.logo span {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #458FF6;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-weight: 700;
      font-size: 32px;
      color: white;
      line-height: 23px;
}

.logo h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-left: 15px;
}

.nav_List {
      display: flex;
      align-items: center;
      gap: 50px;
}

.nav_List a {
      color: #1F1534;
}

.nav_List li:nth-child(1) {
      font-weight: bold;
}



.birinchi-content {
    display: flex;

    justify-content: space-around;

    padding: 145px 0;
}

.birinchi-content .ong {
    width: 540px;
    margin-top: 70px;
}

.birinchi-content .ong-text h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

   color: #000000;

  
} 

.button {
    font-family:'Roboto' ;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    width: 197.75px;
    height: 56px;
    top: 558px;
    left: 210px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    margin-top: 70px;
   

}
.p{
    margin-top: 70px; ;
    color: #7D7987;
}
